
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div style="width:100%; display: flex; justify-content: space-between;">
      <button mat-icon-button (click)="sendMessageToSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="https://pic.onlinewebfonts.com/thumbnails/icons_549441.svg" width="56" height="56">
      <div style="display: flex;">
        <a *ngIf="!isLogged" mat-raised-button [routerLink]="loginURL" style="background-color: #3f51b5; color: white; margin: 10px 5px; text-decoration: none;"> Login </a>
        <a *ngIf="!isLogged" mat-raised-button [routerLink]="registerURL" style="background-color: #b63d52; color: white; margin: 10px 5px; text-decoration: none;"> Register </a>
        <button *ngIf="isLogged" mat-raised-button style="background-color: #b63d52; text-decoration: none; color: white; margin: 10px 5px;" (click)="logout()"> Logout </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
